body {
  margin: 0;
  text-align: center;
  background: radial-gradient(circle, #020024, #090979, #00d4ff);
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 10px 0;
}

canvas {
  background: black;
  border: 2px solid white;
  max-width: 95%;
}

.controls {
  margin-top: 10px;
}

button {
  font-size: 22px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}
